body {
  display: flex;
  justify-content: center;
  background-color: #fef5ef;
  color: black;
  padding: 10px;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  text-align: center;
  border-radius: 10px;
}
.placeTitle {
  font-size: 40px;
  outline: 1px solid black;
  border-radius: 33px;
  background-color: #fbe5d5;
  padding: 5px;
}

.placeImage {
  width: auto;
  height: 500px;
  display: flex;
  margin: 0 auto;
  box-shadow: -4px 4px 4px;
  margin-top: 10px;
}

.countryTitle {
  display: flex;
  outline: 1px solid black;
  border-radius: 33px;
  background: #fbe5d5;
  padding: 10px;
  font-size: 30px;
  margin: 5px auto;
}

.placeStyle {
  background: #f4e3d7;
  box-shadow: -22px 22px 44px #cbc4bf, 22px -22px 44px #ffffff;
  display: flex;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: black;
}

.headerStyle {
  padding: 5px;
  border-radius: 46px;
  background: #f4e3d7;
  box-shadow: -22px 22px 44px #cbc4bf, 22px -22px 44px #ffffff;
}
